body {
	padding: 20px;
	font-family: "Helvetica Neue";
	/* background-color: #333; */
}

.timeline-x-axis-grid,
.timeline-x-axis-year,
.grid line {
	opacity: 0.2;
	stroke-width: 1px;
}

.grid path {
  stroke-width: 0;
}

.timeline-x-axis > path,
.line-x-axis > path,
.line-x-axis > g > line {
	stroke: none;
}
.timeline-x-axis > g > line {
	stroke: #aaa;
}

.chart-background {
	position:absolute;
	z-index: -10;
	/* background-color: white; */
}

.bubble-label,
.hull-label {
	font-family: "Helvetica Neue";
	font-size: 12;
	stroke: #fff;
	stroke-width: 1;
	stroke-linecap: "butt";
	stroke-linejoin: "miter";
	text-anchor: "start";
	display: block;
}
.hull-label-link{
	stroke: #333;
	stroke-width: 1;
	opacity: 0.4;
}

#clusterinfo {
	padding: 0;
	overflow-y: scroll;
	background-color: #fff;
}

#dropdown_Y {
	position: absolute;
	margin-left: -65px;
	z-index: 4;
}
#dropdown_Y_scale {
	position: absolute;
	margin-left: 10px;
	z-index: 5;
}
.rotate {
  -webkit-transform: rotate(-90deg); /* Safari */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* IE */
  -o-transform: rotate(-90deg); /* Opera */
}
#dropdown_X,
#dropdown_X_scale {
	display:inline-block;
	margin: 10px 0;
}
#dropdown_X_scale > button,
#dropdown_Y_scale > button {
	height: 24px;
	font-size: 14px;
	padding: 0px 5px;
	width: 50px;
}
#dropdown_X > button {
	height: 24px;
	font-size: 14px;
	padding: 0px 10px;
	width: 230px;
	margin-left: 20px;
}
#dropdown_Y > button {
	height: 24px;
	font-size: 14px;
	padding: 0px 10px;
	width: 160px;
	margin-left: 20px;
	border-color: #aaa;
}

.group_label {
	font-size: 12px;
	padding: 5px 0 0 20px;
	margin-bottom: -20px;
	z-index: 2;
}
.group_trace {
	margin: -20px -10px;
	z-index: 1;
}

.chart-title {
	font-family: "Helvetica Neue";
	font-size: 24px;
	position: absolute;
  z-index: 30;
  color: #aaa;
  left: 100px;
	top: 0px;
	background-color: white;
}

.year-background {
	font-family: "Helvetica Neue";
	font-size: 200px;
	position: absolute;
  z-index: -30;
  color: #efefef;
  right: 50px;
  margin-top: -300px;
}

.chart-desc {
	font-size: 24px;
	font-weight: bold;
	fill: #17a2b8;
	visibility: hidden;
	opacity: 0;
}

.caption-panel {
  color: #000;
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: .2rem;
	height: 60px;
	margin: 0 0 0 20px;
	padding: 5px 10px;
	font-size: 16px;
}

.custom-switch-play {
	position: absolute;
	z-index: 30;
	margin-top: 30px;
  left: 40px;
  width: 80px;
  height: 50px;
  background: #007bff;
  color: #ffffff;
  border-radius: .2rem;
  font-size: 30px;
  padding: 9px 26px;
	cursor: pointer;
	border-width: 1px;
  border-style: solid;
  border-color: rgb(116, 116, 116, .5) rgb(109, 109, 109, .5) rgb(86, 86, 86, .5);
}
.fa-play {
	padding-left: 2px;
}

.line-indicator {
	position: absolute;
	top: 0;
	display: none;
	width: 1px;
	height: 100%;
	background-color: #333;
	font-size: 10px;
	cursor: default;
	padding-left: 1px;
}

.select_rectangle,
.select_trace {
	position: absolute;
	font-size: 10px;
	padding-top: 15px;
	border-radius: .2rem;
	background-color: rgba(0,0,0,.2);
	border: 0.4px solid #000;
	-webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #000;
}
.select_rectangle_noc {
  /* border: 1px solid #007bff; */
}
.select_rectangle_var {
  /* border: 1px solid #17a2b8; */
}
.select_rectangle_spr {
  /* border: 1px solid #df11fa; */
}
.select_rectangle_user {
  /* border: 1px solid orange; */
}

.timeline {
	position: absolute;
}
.timeline-slider {
	top: 0px;
	left: 15px;
	padding-left: 83px;
	padding-right: 27px;
	height: 20px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
  /* border-radius: .2em .2em 0 0; */
	background: linear-gradient(#ddd, #fff);
}
.timeline-slider-extend {
	width: 2px;
	top: 20px;
	left: 114px;
	height: 130px;
	background-color: #007bff;
	z-index: 100;
	box-shadow: 0 0 5px 1px rgba(0,123,255,.35)
}
.timeline-background {
	top: 20px;
	height: 130px;
	/* background: #666; */
	border-bottom: 1px solid #aaa;
	border-radius: 0 0 .2em .2em;
	background: linear-gradient(#fff,#fff,#fff,#fff,#fff,#fff,#eee);
}
.timeline-label {
	top: 25px;
	position: relative;
}
.timeline-frame {
	top: 45px;
	position: relative;
}
.timeline-legend {
	z-index: 9;
	top: 20px;
	background: #bbb;
	border-radius: 0 0 0 .2em;
	border: 1px solid rgba(0,0,0,0.1);
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.9);
}
.timeline-control {
	z-index: 9;
	top: 20px;
	background: #bbb;
	border-radius: 0 0 .2em 0;
	border: 1px solid rgba(0,0,0,0.1);
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.9);
}
rect.time-slice {
	position: absolute;
	stroke: #000;
	stroke-width: .2px;
	rx: .2rem;
	fill-opacity: 0.7;
	cursor: pointer;
	-webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
text.time-slice {
	font-size: 10px;
	text-anchor: start;
	cursor: pointer;
}

.time-slice-remove {
	position: absolute;
	width: 15px;
	height: 15px;
	font-size: 11px;
	stroke: #000;
	stroke-width: .2px;
	rx: .2rem;
	fill: #eee;
	z-index: 500;
	cursor: pointer;
}
.time-slice-move-left,
.time-slice-move-right {
	position: absolute;
	stroke: #000;
	stroke-width: .2px;
	fill: #002654;
	z-index: 500;
	cursor: pointer;
}

rect.time-slice-outer {
	position: absolute;
	stroke: #000;
	stroke-width: .2px;
	rx: .2rem;
	fill-opacity: 0.4;
}
text.time-slice-outer {
	fill: #fff;
	fill-opacity: 0.5;
}
.time-label {
	position: absolute;
	background-color: #FCA503;
	border-radius: .2rem;
	border: .2px solid #000;
	color: #000;
	font-size: 10px;
	padding: 1px 2px 2px 2px;
	overflow-x: hidden;
	white-space: nowrap;
	opacity: 1;
	resize: none;
}
.time-caption {
	position: absolute;
	background-color: #002654;
	border-radius: .2rem;
	border: .2px solid #000;
	color: #fff;
	font-size: 10px;
	padding: 1px 2px 2px 2px;
	overflow-x: hidden;
	white-space: nowrap;
	opacity: 1;
	resize: none;
}

.line-timebar {
	position: absolute;
	width: 3px;
	background-color: #007bff;
	box-shadow: 0 0 5px 1px rgba(0,123,255,.35)
}

.control-bottom {
	width: 90%;
	height: 20px;
	margin: 3px 5% 0 5%;
	font-size: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
	padding: 1px 2px 1px 0px;
  width: 32px;
  height: 18px;
  background: #007bff;
  cursor: pointer;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 52% 100%, 48% 100%, 0% 65%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 52% 100%, 48% 100%, 0% 65%);
}

.slider::-moz-range-thumb {
	padding: 1px 2px 1px 0px;
  width: 32px;
  height: 18px;
	opacity: 1;
  background: #007bff;
  cursor: pointer;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 52% 100%, 48% 100%, 0% 65%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 52% 100%, 48% 100%, 0% 65%);
}
