{% load static %}
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <title>Chartgif</title>
</head>
<body>
  <div class="row">
    <div id="dropdown_Y_scale" class="dropdown">
      <button class="btn btn-sm btn-info dropdown-toggle rotate" type="button" id="dropdownMenuButton_yScale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ options.yScale.name }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_yScale">
        <a class="dropdown-item" name="yScale" id="lin" href="#">Lin</a>
        <a class="dropdown-item" name="yScale" id="log" href="#">Log</a>
      </div>
    </div>
    <div id="dropdown_Y" class="dropdown">
      <button class="btn btn-sm btn-outline-dark dropdown-toggle rotate" type="button" id="dropdownMenuButton_y" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ options.y.name }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_Y">
        <a class="dropdown-item" name="y" id="income" href="#">Income</a>
        <a class="dropdown-item" name="y" id="lifespan" href="#">Life Expectancy</a>
        <a class="dropdown-item" name="y" id="fertility" href="#">Babies per woman</a>
      </div>
    </div>
    <div class="col-md-6" style="padding-left: 50px;">
      <div id="myChart"></div>
      <div align="center">
        <div id="dropdown_X" class="dropdown">
          <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton_x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ options.x.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_X">
            <a class="dropdown-item" name="x" id="income" href="#">Income</a>
            <a class="dropdown-item" name="x" id="lifespan" href="#">Life Expectancy</a>
            <a class="dropdown-item" name="x" id="fertility" href="#">Babies per woman</a>
          </div>
        </div>
        <div id="dropdown_X_scale" class="dropdown">
          <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton_xScale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ options.xScale.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_xScale">
            <a class="dropdown-item" name="xScale" id="lin" href="#">Lin</a>
            <a class="dropdown-item" name="xScale" id="log" href="#">Log</a>
          </div>
        </div>
      </div>
      <div class="year-background">
        <span id='infoCurYear'></span>
      </div>
      <div class="caption-panel">
        <span id='caption'></span>
      </div>
    </div>
    <div class="col-md-6">
      <div id="clusterinfo" class="row"></div>
    </div>
  </div>
  <div class="row" id="timeline-panel" style="padding-top: 20px;">
    <div class="custom-control custom-switch-play">
      <label>
        <input type="checkbox" class="custom-control-input" id="switchPlay">
      <i id="play_icon" class="fa fa-play"></i></label>
    </div>
    <div class="col-md-12">
      <div class="timeline timeline-background" id="timeline-background"></div>
      <div class="timeline timeline-frame" id="timeline"></div>
      <div class="timeline timeline-slider">
        <input type="range" class="slider" name="mySlider" id=mySlider min="1800" max="2018" value="1800"></input>
        <output for="foo" onforminput="value = foo.valueAsNumber;"></output>
      </div>
      <div class="timeline timeline-slider-extend" id="slider-extend"></div>
    </div>
  </div>
</body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-contour.v1.min.js"></script>
<script src="{% static 'js/scatter.js' %}"></script>
<script src="{% static 'js/trace.js' %}"></script>
<script src="{% static 'js/line.js' %}"></script>
<script src="{% static 'js/timeframes.js' %}"></script>
<script src="{% static 'js/timeline.js' %}"></script>
<script>
var morecolor = d3.scaleOrdinal(d3.schemeCategory10);
var colorarray = ["#666", "#F08391", "#ffe940", "#AEED6C", "#80DBEB"];
let gcolor = function(i){
  if (i < colorarray.length) {
    return colorarray[i];
  } else {
    return morecolor(i-colorarray.length);
  }
};

var timeseries = {{timeseries|safe}};
var data_plot = {{data|safe}};
var data_options = {{options|safe}};
var data_population = {{population|safe}};
var data_continent = {{continent|safe}};
var data_group = {{kgroup|safe}};
var cluster_info = {{clusterinfo|safe}};
var data_avg_velocity = {{avg_velocity|safe}};
var data_focus_range = {{focus_range|safe}};
var o_trend = ("{{ otrend }}" == "True");
var gname = {{gname|safe}};
var legendCount = Object.keys(gname).length;

var selectedAxis = ["X", "Y", "S"];
var params = {
  "x": "confirmed",
  "xScale": "log",
  "y": "death",
  "yScale": "log",
  "s": "population"
}
var timeunit = 200;
var w = document.getElementById("myChart").offsetWidth,
    h = w;
var timeline_w = document.getElementById("timeline-panel").offsetWidth;
var label_w = Math.min(200, Math.max(120, w*0.2));
var left_offset = 66, caption_h = 65;
var chart = new ScatterPlot("myChart", w, h-caption_h);
for (var k in data_options) {
  params[k] = data_options[k].id;
}
document.getElementById("dropdown_Y").style.marginTop = w/2-100;
document.getElementById("dropdown_Y_scale").style.marginTop = w/2-210;
document.getElementsByClassName("timeline-background")[0].style.width = timeline_w-50;
document.getElementsByClassName("timeline-frame")[0].style.width = timeline_w-50;
document.getElementsByClassName("timeline-slider")[0].style.width = timeline_w-50;
chart.initChart(data_plot, data_options, data_population, data_continent, data_group);

$(".dropdown-menu a").click(function () {
  var setItem = $(this);
  console.log("dropdown select", setItem[0].name, setItem[0].id, setItem.text())
  $("#dropdownMenuButton_"+setItem[0].name).text(setItem.text());
  params[setItem[0].name] = setItem[0].id;
  window.location.href = "?"+$.param( params );
});

var innergrp = {};
var curFrame = 0, preFrame = 0;
var play_timer = undefined;
var el, newPoint, timebar;
var linecharts_v = {};
var trace_chart = {};
var infodiv = document.getElementById("clusterinfo");
infodiv.style.height = h+20;
initClusterinfo();

var timeline_w = document.getElementById("timeline-background").offsetWidth;
var testtimeframes = new TimeFrames(timeseries, gname);
var timeline = new TimeLine("timeline", timeline_w);
testtimeframes.addFrames(data_focus_range);
timeline.initChart(testtimeframes.getTimeFrames(), testtimeframes.getFrameOrder(), testtimeframes.getFrameMap(), gname);


function addEventinLinechart(yrange, group, axes, reason) {
  draw_rect_input(yrange, "lines_"+group, axes, reason);
}

function drawFrame(yrange, group, axes, reason, pattern) {
  testtimeframes.addFrame(yrange, group, axes, reason, pattern);
  timeline.updateChart(testtimeframes.getTimeFrames(), testtimeframes.getFrameOrder(), testtimeframes.getFrameMap(), gname);
}

function kFormatter(num) {
    if (Math.abs(num) > 999999)
      return Math.sign(num)*((Math.abs(num)/1000000).toFixed(1)) + 'M'
    if (Math.abs(num) > 999)
      return Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'K'
    return Math.sign(num)*Math.abs(num)
}

function updateLineTimebar() {
  var curYear = parseInt(timeFrames[curFrame]);
  // console.log("updateLineTimebar", curFrame, curYear);
  if (isNaN(curYear)) curYear = minYear;
  timebar.style.left = (+line_xscale(curYear)+label_w+left_offset+10) + "px";
  timebar.style.top = 10 + "px";
  timebar.style.height = (h-5) + "px";
}

function initClusterinfo() {
  var numGroup = cluster_info["K"];
  var minmax = cluster_info["minmax"];
  var group_h = h/numGroup;
  if (group_h < 65) {
    group_h = 65;
  }
  var axis_h = (group_h-20)/3;
  for (var g = 0; g < numGroup; g++) {
    var div_group = document.createElement("div");
    div_group.style = "display:block; padding: 0 10px; height: "+group_h+"px;";

    var div_group_label = document.createElement("div");
    div_group_label.style = "display:inline-block; vertical-align:top; width:"+label_w+"px; height: "+group_h+"px;";
    div_group_label.innerHTML += "<span class='badge'>" + gname[g] + "</span><br>";
    // div_group_label.innerHTML += "<div class='group_label'><span id='infoMinMax_"+g+"'></span></div>"
    div_group_label.innerHTML += "<div class='group_trace' id='trace_chart_" + g + "'></div>"

    var line_w = w-label_w+10;
    var div_group_timeline = document.createElement("div");
    div_group_timeline.style="display:inline-block; position: relative; padding:0; width:"+line_w+"px; height: "+group_h+"px;";

    var div_group_timeline_avg_v = document.createElement("div");
    div_group_timeline_avg_v.id = "lines_"+g;
    div_group_timeline_avg_v.style = "width:"+line_w+"px; height: "+group_h+"px; position: absolute; top:10; z-index:0";
    div_group_timeline.appendChild(div_group_timeline_avg_v);

    for (var a = 0; a < 3; a++) {
      var div_group_timeline_avg_a = document.createElement("div");
      div_group_timeline_avg_a.id = div_group_timeline_avg_v.id+"_"+selectedAxis[a];
      div_group_timeline_avg_a.style = "width:"+(line_w-left_offset)+"px; height: "+axis_h+"px; position: absolute; top:"+(10+axis_h*a)+"; left: "+left_offset+"; z-index:1";
      div_group_timeline.appendChild(div_group_timeline_avg_a);
    }

    div_group.appendChild(div_group_label);
    div_group.appendChild(div_group_timeline);
    infodiv.appendChild(div_group);

    linecharts_v[g] = new LineChart(div_group_timeline_avg_v.id, line_w, group_h, axis_h);
    linecharts_v[g].drawChart(data_avg_velocity[g], data_options);
  }
  drawTraceCharts(numGroup, group_h-15);

  timebar = document.createElement("div");
  timebar.className = "line-timebar";
  infodiv.appendChild(timebar);
}

function updateBackgoundYear(year) {
  var info_year = document.getElementById("infoCurYear");
  info_year.innerHTML = year;
}
function updateCaptionPanel(frame, gid, groups) {
  var year = timeFrames[frame].split("_")[0];
  // console.log("updateCaptionPanel", year, gid, caption[year][gid])
  var caption_year = document.getElementById("caption");
  if (gid == -1) {
    caption_year.innerHTML = "";
  }
  var g = groups[gid];
  if (caption[year] && caption[year][g]) {
    caption_year.innerHTML = caption[year][g];
  } else {
    caption_year.innerHTML = "";
  }
}

function drawTraceCharts(numGroup, height) {
  for (var g = 0; g < numGroup; g++) {
    // console.log("drawTraceCharts", g)
    trace_chart[g] = new TraceChart("trace_chart_", g, height);
    trace_chart[g].draw(data_plot, data_options, data_population, data_continent, data_group);
  }
}

// function initTimeFrame() {
//   for (var y = minYear; y <= maxYear; y++) {
//     yearmap[y] = {
//       "group":[],
//       "delay":1,
//       "reason":{}
//     };
//   }
// }
//
// function generateFrames() {
//
//   for (var i in data_focus_range) {
//     d = data_focus_range[i];
//     reason = d["reason"];
//     pattern = d["pattern"];
//     range = d["years"];
//     g = d["g"];
//     a = d["a"];
//     drawFrame(range, g, a, reason, pattern);
//   }
//   generateCaptions();
// }
//
// function generateCaptions() {
//   for (var v in outerbound) {
//     getCaption(outerbound[v]);
//   }
// }
// function updateSlider() {
//   timeFrames = [];
//   // init sequence
//   timeFrames.push("initStart");
//   var torder = ["Y", "X", "Trend", "G", "S"];
//   for (var type in torder) {
//     for (var y = 0; y < initdelay[torder[type]]; y++) {
//       if (y == 0) timeFrames.push("init"+torder[type]+"");
//       else timeFrames.push("init"+torder[type]+"_"+y);
//     }
//   }
//   timeFrames.push("initFinish");
//
//   for (var y = minYear; y <= maxYear; y++) {
//     for (var d = 0; d < yearmap[y]["delay"]; d++) {
//       if (d == 0) timeFrames.push(y + "");
//       else timeFrames.push(y + "_" + d);
//     }
//   }
//
//   var slider = document.getElementById("mySlider");
//   slider.min = 0;
//   slider.max = timeFrames.length;
//   slider.value = 0;
// }
//
function removeFrame(id) {
  console.log("removeFrame", id)
  testtimeframes.removeFrame(id);
  timeline.updateChart(testtimeframes.getTimeFrames(), testtimeframes.getFrameOrder(), testtimeframes.getFrameMap(), gname);
}
//
// function drawFrame(yrange, group, axes, reason, pattern) {
//   // console.log("drawFrame", yrange, group, axes)
//   // axis: X, Y, S or (overlay == input from the linecharts)
//   if (yrange[0] == "init") {
//     a = axes[0];
//     y_s = "init"+a, y_e = timeFrames[timeFrames.indexOf(y_s)+initdelay[a]];
//
//     timeline.addFrame([y_s, y_e], group, "init", reason, a, 1);
//     timeline.addCaption([y_s, y_e, group].join("-"), pattern);
//     if (caption["init"+a] == undefined) caption["init"+a] = {};
//     caption["init"+a][group] = pattern;
//
//   } else {
//     r = [yrange[0], yrange[yrange.length-1]];
//     for (var i = r[0]; i < r[1]; i++) {
//       yearmap[i]["group"].push(+group)
//       if (reason != "sum") yearmap[i]["delay"] = slowdown[reason];
//       id = [r[0],r[1],group].join("-");
//       yearmap[i]["reason"][id] = {
//         "yrange": yrange,
//         "group": group,
//         "axis": axes,
//         "reason": reason,
//         "pattern": pattern,
//       }
//     }
//     names = [];
//     for (var i in axes) {
//       names.push(data_options[axes[i].toLowerCase()]["id"])
//     }
//     updateSlider();
//     timeline.updateXaxis(timeFrames);
//     timeline.addFrame(r, +group, names, reason, pattern, yearmap[r[0]]["delay"]);
//     calculateOuterbound();
//     draw_rect_input(yrange, "lines_"+group, axes, reason);
//   }
// }
//
// function drawSummaryFrame(yrange, group, axes, reason, included_frames) {
//   r = [yrange[0], yrange[yrange.length-1]];
//   for (var i = r[0]; i < r[1]; i++) {
//     yearmap[i]["group"].push(+group)
//     if (reason != "sum") yearmap[i]["delay"] = slowdown[reason];
//     id = [r[0],r[1],group].join("-");
//     yearmap[i]["reason"][id] = {
//       "yrange": yrange,
//       "group": group,
//       "axis": axes,
//       "reason": reason,
//       "pattern": pattern,
//     }
//   }
//   names = [];
//   for (var i in axes) {
//     names.push(data_options[axes[i].toLowerCase()]["id"])
//   }
//   timeline.addFrame(r, +group, names, reason, pattern, yearmap[r[0]]["delay"]);
// }
//
// initClusterinfo();
// generateFrames()
//

// var playon = document.querySelectorAll("input#switchPlay");
// playon[0].addEventListener("change", function(e) {
//   // console.log("playon", e.target.checked, curYear);
//   if (e.target.checked) {
//     document.getElementById("play_icon").className = "fa fa-pause";
//   } else {
//     document.getElementById("play_icon").className = "fa fa-play";
//   }
//
//   if (play_timer == undefined && e.target.checked && curFrame < timeFrames.length) {
//     play_timer = setInterval(function() {
//       curFrame += 1;
//       if (curFrame >= timeFrames.length-1) {
//         clearInterval(play_timer);
//       }
//       // console.log("original", timing, curYear, maxYear);
//       traceTimeline();
//     }, timeunit);
//   } else if (play_timer != undefined) {
//     clearInterval(play_timer);
//     play_timer = undefined;
//   }
// });
//
// function calculateOuterbound() {
//   outerbound = {};
//   timeline.clearOuterBound();
//   var head_y = -1, tail_y = -1;
//   var groups = [], reasons = {};
//   for (var y in yearmap) {
//     if (yearmap[y]["group"].length > 0) {
//       // console.log("-", y, head_y, tail_y)
//       groups = groups.concat(yearmap[y]["group"]);
//       for (var r in yearmap[y]["reason"]) {
//         var rr = yearmap[y]["reason"][r];
//         var id = [rr["yrange"][0],rr["yrange"][rr["yrange"].length-1],rr["group"]].join("-");
//         reasons[id] = rr;
//       }
//       if (head_y > 0) {
//         tail_y = y;
//       } else {
//         head_y = tail_y = y;
//       }
//     } else {
//       if (head_y > 0) {
//         // console.log("add", head_y, tail_y)
//         var bound = {
//           "head": +head_y,
//           "tail": parseInt(tail_y)+1,
//           "groups": Array.from(new Set(groups)).sort(),
//           "reason": reasons
//         }
//         outerbound[+head_y] = bound;
//         timeline.addOuterBound([head_y, tail_y]);
//       }
//       head_y = tail_y = -1;
//       groups = [];
//       reasons = {};
//     }
//   }
//   summarizeOuterbound();
// }
//
// function summarizeOuterbound() {
//   for (var b in outerbound) {
//     var bound = outerbound[b];
//     var gid = [bound["head"], bound["tail"], 0].join("-")
//     // console.log("summarizeOuterbound", gid, $("div#"+gid+".time-slice").length)
//     if ($("div#"+gid+".time-slice").length == 0) {
//       var included_frames = [];
//       if (bound["groups"].includes(0)) {// has group 0
//         for (var r in bound["reason"]) {
//           var ids = r.split("-");
//           if (ids[2] == "0") {
//             included_frames.push(bound["reason"][r])
//             $("div#"+r+".time-slice").remove();
//             $("textarea#"+r+".time-caption").remove();
//             // remove previous frame
//             for (var y = ids[0]; y < ids[1]; y++) {
//               var idx = yearmap[y]["group"].indexOf(parseInt(ids[2]));
//               yearmap[y]["group"].splice(idx, 1);
//               delete yearmap[y]["reason"][r];
//             }
//           }
//         }
//       }
//       var axes = [];
//       for (var r in bound["reason"]) {
//         axes = axes.concat(bound["reason"][r]["axis"])
//       }
//       years = Array.from(new Array(bound["tail"]-bound["head"]+1), (x,i) => i + bound["head"])
//       drawSummaryFrame(years, 0, Array.from(new Set(axes)), "sum", included_frames);
//     }
//   }
// }

function getCaption(bound) {
  $.ajax({
    type: "POST",
    url: "/get_caption/",
    dataType: "json",
    data: bound,
    success: function(res){
      console.log("getCaption success", res);
      for (var y = res["head"]; y <= res["tail"]; y++) {
        innergrp[y] = res["innergrp"];
      }
      for (var g in res["caption"]) {
        var id = g.split("-");
        for (var y = id[0]; y <= id[1]; y++) {
          if (caption[y] == undefined) caption[y] = {};
          caption[y][id[2]] = res["caption"][g];
        }
        timeline.addCaption(g, res["caption"][g]);
      }
    }
  });
}

function updateCaption(id, value) {
  var ids = id.split("-");
  // console.log("updateCaption", ids, parseInt(id[2]))
  for (var y = ids[0]; y <= ids[1]; y++) {
    caption[y][ids[2]] = value;
  }
}

function changeSelectedConts(continents) {
  // console.log("-- changeSelectedConts", legendCount, continents, continents.indexOf(0));
  for (var c = 0; c < legendCount; c++) {
    swtvalues["groups"][c] = false;
  }
  if (continents.indexOf(0) > -1) continents = [0,1,2,3,4];
  for (var c = 0; c < continents.length; c++) {
    swtvalues["groups"][continents[c]] = true;
  }
}
//
// var flag_focus = false;
// var focus_index = -1,
//     focus_start = focus_until = -1,
//     focus_groups = [];
// function traceInitSeq(curNames, curYear) {
//   var type = curNames[0].slice(4);
//   // console.log("traceInitSeq", curNames[1], type)
//   if (curNames[1] == undefined) {
//     if (curFrame == focus_until && focus_index < legendCount-1) {
//       curFrame -= initdelay["G"];
//       curYear = timeFrames[curFrame];
//       type = "G";
//       // console.log("@@@ curFrame changed", curFrame, curYear, type, focus_index)
//     }
//     if (type == "Y") {
//       chart.highlightYaxis(5*timeunit);
//       focus_index = 0, focus_groups = [0];
//     } else if (type == "X") {
//       chart.highlightXaxis(5*timeunit);
//       focus_index = 0, focus_groups = [0];
//     } else if (type == "S") {
//       chart.highlightSaxis(5*timeunit);
//       focus_index = 0, focus_groups = [0];
//     } else if (type == "Trend") {
//       if (o_trend) chart.highlightDirect(5*timeunit);
//       else chart.highlightInverse(5*timeunit);
//       focus_index = 0, focus_groups = [0];
//     } else if (type == "G") {
//       chart.hideDesc(0);
//       chart.showGroup(minYear, ++focus_index);
//       updateBackgoundYear(minYear);
//       focus_until = timeFrames.indexOf(curYear)+initdelay["G"];
//       focus_groups = Object.keys(gname);
//       // console.log("@@@ type G", focus_index, curFrame, focus_until)
//     } else if (type == "Finish") {
//       chart.hideDesc(timeunit);
//       focus_index = -1, focus_groups = [];
//       focus_start = focus_until = -1;
//     }
//   }
// }
// function traceTimeline() {
//   var curYear = timeFrames[curFrame];
//   var nextYear = timeFrames[curFrame+1];
//   var curNames = curYear.split("_");
//   console.log("traceTimeline", curFrame, curNames, flag_focus, focus_until, focus_index, swtvalues);
//   // if init sequence
//   if (curNames[0].slice(0,4) == "init") {
//     traceInitSeq(curNames, curYear);
//   }
//
//   // if in focus mode
//   if (flag_focus && curFrame == focus_until) {
//     if (focus_index >= focus_groups.length-1) {
//       console.log("-- finish focusing", focus_index, focus_groups)
//       focus_index = -1;
//       flag_focus = false;
//       // chart.clearFocus();
//       changeSelectedConts([0,1,2,3,4]);
//       // resetPlaytimer(100); // go to the normal pace
//     } else {
//       focus_index += 1;
//       changeSelectedConts([focus_groups[focus_index]]);
//       console.log("-- move to the next group focusing", focus_index, focus_groups)
//       curFrame = focus_start;
//     }
//     chart.clearFocus();
//   } else {
//     // console.log(curYear, flag_focus);
//     changeSlider($("input[type='range']"), curFrame, true, flag_focus);
//     // update caption
//   }
//
//   // if next year is focus_year
//   if (outerbound[nextYear]) {
//     flag_focus = true;
//     focus_start = timeFrames.indexOf(""+outerbound[nextYear]["head"]);
//     focus_until = timeFrames.indexOf(""+outerbound[nextYear]["tail"])+1;
//     focus_groups = outerbound[nextYear]["groups"];
//     console.log("-- prepare focusing in ", nextYear)
//     console.log("==", focus_start, "~", focus_until, focus_groups)
//     if (focus_index == -1) {
//       focus_index = 0;
//       changeSelectedConts([focus_groups[focus_index]]);
//       // resetPlaytimer(1000);
//     }
//   }
//
//   updateCaptionPanel(curFrame, focus_index, focus_groups);
// }


var swtvalues = {
  "groups": {0: true, 1:true, 2:true, 3:true, 4:true},
};
$('input[type=range]').on('input', function () {
  $(this).trigger('change');
});
$("input[type='range']").change(function() {
  el = $(this);
  curFrame = parseInt(el.val());
  changeSlider(el, curFrame, false, false);
})
// Fake a change to position bubble at page load
.trigger('change');

function changeSlider(el, curFrame, play, focus) {
  if (curFrame >= timeFrames.length) return;

  width = el.width()-32;
  newPoint = (curFrame-el.attr("min")) / (el.attr("max")-el.attr("min"));
  // console.log(newPoint, el.val())
  $("#slider-extend")[0].style.left = width * newPoint + 100+13;
  el.next("output")
    .css({
      "marginLeft": width * newPoint + 36,
      "marginTop": -20,
      "font-size": 10,
      "color": "#000"
    })
    .text(timeFrames[curFrame].split("_")[0]);
  if (play) {
    el.val(curFrame);
  }

  if (timeFrames[curFrame].split("_")[0].slice(0,4) == "init") {
    preFrame = curFrame;
    updateLineTimebar();
    return;
  }
  // console.log("changeSlider", focus, curFrame, timeFrames[preFrame], timeFrames[curFrame]);
  var preYear = parseInt(timeFrames[preFrame]),
      curYear = parseInt(timeFrames[curFrame]);
  if (yearmap[curYear]["delay"] > 1) {
    focus = true;
  } else {
    changeSelectedConts([0,1,2,3,4]);
    focus = false;
  }
  if (focus && (preYear == minYear || preYear != curYear)) {
    var delaytime = yearmap[curYear]["delay"]*timeunit;
    chart.updateFocus(curYear, swtvalues, innergrp, delaytime);
  } else if (preYear == minYear || preYear != curYear) {
    chart.updateChart(curYear, swtvalues);
  }
  highlightCurYear();
  updateBackgoundYear(curYear);
  preFrame = curFrame;
}

function highlightOff() {
  $("circle.tbubble").attr("r", 1).attr("stroke", "none");
}
function highlightCurYear() {
  var curYear = parseInt(timeFrames[curFrame]);
  updateLineTimebar();
  highlightOff();
  for (var i = 0; i < legendCount; i++) {
    $("circle.tbubble#"+i+"_"+curYear)
      .attr("r", 5)
      .attr("stroke", "black");
  }
}


</script>
</html>
