{% load static %}
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <title>Chartgif</title>
</head>
<body>
  <div class="row">
    <div id="dropdown_Y_scale" class="dropdown">
      <button class="btn btn-sm btn-info dropdown-toggle rotate" type="button" id="dropdownMenuButton_yScale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ options.yScale.name }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_yScale">
        <a class="dropdown-item" name="yScale" id="lin" href="#">Lin</a>
        <a class="dropdown-item" name="yScale" id="log" href="#">Log</a>
      </div>
    </div>
    <div id="dropdown_Y" class="dropdown">
      <button class="btn btn-sm btn-outline-dark dropdown-toggle rotate" type="button" id="dropdownMenuButton_y" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ options.y.name }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_Y">
        <a class="dropdown-item" name="y" id="lifespan" href="#">Life Expectancy</a>
        <a class="dropdown-item" name="y" id="fertility" href="#">Babies per woman</a>
        <a class="dropdown-item" name="y" id="income" href="#">Income</a>
      </div>
    </div>
    <div class="col-md-6" style="padding-left: 50px;">
      <div id="myChart"></div>
      <div align="center">
        <div id="dropdown_X" class="dropdown">
          <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton_x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ options.x.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_X">
            <a class="dropdown-item" name="x" id="lifespan" href="#">Life Expectancy</a>
            <a class="dropdown-item" name="x" id="fertility" href="#">Babies per woman</a>
            <a class="dropdown-item" name="x" id="income" href="#">Income</a>
          </div>
        </div>
        <div id="dropdown_X_scale" class="dropdown">
          <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton_xScale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ options.xScale.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_xScale">
            <a class="dropdown-item" name="xScale" id="lin" href="#">Lin</a>
            <a class="dropdown-item" name="xScale" id="log" href="#">Log</a>
          </div>
        </div>
      </div>
      <div class="year-background">
        <span id='infoCurYear'></span>
      </div>
      <div class="caption-panel">
        <span id='caption'></span>
      </div>
    </div>
    <div class="col-md-6">
      <div id="clusterinfo" class="row"></div>
    </div>
  </div>
  <div class="row" id="timeline-panel" style="padding-top: 20px;">
    <div class="custom-control custom-switch-play">
      <label>
        <input type="checkbox" class="custom-control-input" id="switchPlay">
      <i id="play_icon" class="fa fa-play"></i></label>
    </div>
    <!-- <div class="col-md-1">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switchTrace">
        <label class="custom-control-label" for="switchTrace">Trace</label>
      </div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switchHull">
        <label class="custom-control-label" for="switchHull">Hull</label>
      </div>
    </div> -->
    <div class="col-md-12">
      <div class="timeline timeline-background" id="timeline-background"></div>
      <div class="timeline timeline-frame" id="timeline"></div>
      <div class="timeline timeline-slider">
        <input type="range" class="slider" name="mySlider" id=mySlider min="1800" max="2018" value="1800"></input>
        <output for="foo" onforminput="value = foo.valueAsNumber;"></output>
      </div>
      <div class="timeline timeline-slider-extend" id="slider-extend"></div>
    </div>
  </div>
</body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-contour.v1.min.js"></script>
<script src="{% static 'js/scatter.js' %}"></script>
<script src="{% static 'js/trace.js' %}"></script>
<script src="{% static 'js/line.js' %}"></script>
<script src="{% static 'js/timeline.js' %}"></script>
<script>
var morecolor = d3.scaleOrdinal(d3.schemeCategory10);
var colorarray = ["#666", "#F08391", "#ffe940", "#AEED6C", "#80DBEB"];
let gcolor = function(i){
  if (i < colorarray.length) {
    return colorarray[i];
  } else {
    return morecolor(i-colorarray.length);
  }
};

var time_arr = {{time_arr|safe}};
var data_plot = {{data|safe}};
var data_options = {{options|safe}};
var data_population = {{population|safe}};
var data_continent = {{continent|safe}};
var data_group = {{kgroup|safe}};
var cluster_info = {{clusterinfo|safe}};
var data_avg_velocity = {{avg_velocity|safe}};
var data_focus_range = {{focus_range|safe}};

var selectedAxis = ["X", "Y", "S"];
var params = {
  "x": "income",
  "xScale": "log",
  "y": "lifespan",
  "yScale": "lin",
  "s": "population"
}
var w = document.getElementById("myChart").offsetWidth,
    h = w*0.7;
var timeline_w = document.getElementById("timeline-panel").offsetWidth;
var label_w = Math.min(200, Math.max(120, w*0.2));
var left_offset = 66, caption_h = 65;
var chart = new ScatterPlot("myChart", w, h-caption_h);
for (var k in data_options) {
  params[k] = data_options[k].id;
}
document.getElementById("dropdown_Y").style.marginTop = w/2-100;
document.getElementById("dropdown_Y_scale").style.marginTop = w/2-210;
document.getElementsByClassName("timeline-background")[0].style.width = timeline_w-50;
document.getElementsByClassName("timeline-frame")[0].style.width = timeline_w-50;
document.getElementsByClassName("timeline-slider")[0].style.width = timeline_w-50;
chart.initChart(data_plot, data_options, data_population, data_continent, data_group);

$(".dropdown-menu a").click(function () {
  var setItem = $(this);
  console.log("dropdown select", setItem[0].name, setItem[0].id, setItem.text())
  $("#dropdownMenuButton_"+setItem[0].name).text(setItem.text());
  params[setItem[0].name] = setItem[0].id;
  window.location.href = "?"+$.param( params );
});

var timeslices = {};
var yearmap = {};
var outerbound = {};
var caption = {};
var innergrp = {};

var minYear = time_arr[0],
    maxYear = time_arr[time_arr.length-1];
var curFrame = 0, preFrame = 0;
var timeFrames = [];
var play_timer = undefined;
var flagConvexHulls = false;
var slowdown = {
  "var": 15,
  "spr": 20,
  "user": 10,
};
var el, newPoint, timebar;
var linecharts_v = {};
var trace_chart = {};
var gname = ["World", "China", "Japan", "Hong Kong", "Singapore", "S Korea", "Iran", "France", "US", "Italy", "UK", "Spain"];
var infodiv = document.getElementById("clusterinfo");
infodiv.style.height = h+20;

initTimeFrame();
updateSlider();

var timeline_w = document.getElementById("timeline-background").offsetWidth;
var timeline_h = 275;
var timeline = new TimeLine("timeline", timeline_w, timeline_h);
timeline.initChart(timeFrames, minYear, maxYear, gname);

function kFormatter(num) {
    if (Math.abs(num) > 999999)
      return Math.sign(num)*((Math.abs(num)/1000000).toFixed(1)) + 'M'
    if (Math.abs(num) > 999)
      return Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'K'
    return Math.sign(num)*Math.abs(num)
}

function updateLineTimebar() {
  var curYear = timeFrames[curFrame];
  if (isNaN(curYear)) curYear = minYear;
  timebar.style.left = (+line_xscale(curYear)+label_w+left_offset+10) + "px";
  timebar.style.top = 10 + "px";
  timebar.style.height = (h-5) + "px";
}

function initClusterinfo() {
  var numGroup = cluster_info["K"];
  var minmax = cluster_info["minmax"];
  var group_h = h/numGroup;
  if (group_h < 65) {
    group_h = 65;
  }
  var axis_h = (group_h-20)/2;
  console.log(group_h, axis_h)
  for (var g = 0; g < numGroup; g++) {
    var div_group = document.createElement("div");
    div_group.style = "display:block; padding: 0 10px; height: "+group_h+"px;";

    var div_group_label = document.createElement("div");
    div_group_label.style = "display:inline-block; vertical-align:top; width:"+label_w+"px; height: "+group_h+"px;";
    div_group_label.innerHTML += "<input type='checkbox' class='switchLegend' id='"+gname[g]+"' checked>";
    div_group_label.innerHTML += "<span class='badge'>" + gname[g] + "</span><br>";
    // div_group_label.innerHTML += "<div class='group_label'><span id='infoMinMax_"+g+"'></span></div>"
    div_group_label.innerHTML += "<div class='group_trace' id='trace_chart_" + g + "'></div>"

    var line_w = w-label_w+10;
    var div_group_timeline = document.createElement("div");
    div_group_timeline.style="display:inline-block; position: relative; padding:0; width:"+line_w+"px; height: "+group_h+"px;";

    var div_group_timeline_avg_v = document.createElement("div");
    div_group_timeline_avg_v.id = "lines_"+g;
    div_group_timeline_avg_v.style = "width:"+line_w+"px; height: "+group_h+"px; position: absolute; top:10; z-index:0";
    div_group_timeline.appendChild(div_group_timeline_avg_v);

    for (var a = 0; a < 2; a++) {
      var div_group_timeline_avg_a = document.createElement("div");
      div_group_timeline_avg_a.id = div_group_timeline_avg_v.id+"_"+selectedAxis[a];
      div_group_timeline_avg_a.style = "width:"+(line_w-left_offset)+"px; height: "+axis_h+"px; position: absolute; top:"+(10+axis_h*a)+"; left: "+left_offset+"; z-index:1";
      div_group_timeline.appendChild(div_group_timeline_avg_a);
    }

    div_group.appendChild(div_group_label);
    div_group.appendChild(div_group_timeline);
    infodiv.appendChild(div_group);
    console.log(g, "linechart", data_avg_velocity[g]);
    linecharts_v[g] = new LineChart(div_group_timeline_avg_v.id, line_w, group_h, axis_h);
    linecharts_v[g].drawChart(data_avg_velocity[g], data_options);
  }
  drawTraceCharts(numGroup, group_h-15);

  timebar = document.createElement("div");
  timebar.className = "line-timebar";
  infodiv.appendChild(timebar);
}

function updateBackgoundYear(year) {
  var info_year = document.getElementById("infoCurYear");
  info_year.innerHTML = year;
}
function updateCaptionText(frame, gid, groups) {
  var year = parseInt(timeFrames[frame]);
  // console.log("updateCaptionText", year, gid, caption[year])
  var caption_year = document.getElementById("caption");
  if (gid == -1) {
    caption_year.innerHTML = "";
  }
  var g = groups[gid];
  if (caption[year] && caption[year][g]) {
    caption_year.innerHTML = caption[year][g];
  } else {
    caption_year.innerHTML = "";
  }
}

function updateClusterinfo(year) {
  var numGroup = cluster_info["K"];
  var minmax = cluster_info["minmax"];
  for (var g = 0; g < numGroup; g++) {
    var info_minmax = document.getElementById("infoMinMax_"+g);
    info_minmax.innerHTML = "";
    for (var a in minmax[g][year]) {
      info_minmax.innerHTML += a + ": " + kFormatter(minmax[g][year][a]["min"]) + "~" + kFormatter(minmax[g][year][a]["max"]) + "<br>";
    }
  }
}

function drawTraceCharts(numGroup, height) {
  for (var g = 0; g < numGroup; g++) {
    // console.log("drawTraceCharts", g)
    trace_chart[g] = new TraceChart("trace_chart_", g, height);
    trace_chart[g].draw(data_plot, data_options, data_population, data_continent, data_group);
  }
}

function initTimeFrame() {
  for (var y = minYear; y <= maxYear; y++) {
    yearmap[y] = {
      "group":[],
      "delay":1,
      "reason":[]
    };
  }
}

function generateFrames() {
  for (var i in data_focus_range) {
    d = data_focus_range[i];
    reason = d["reason"];
    pattern = d["pattern"];
    range = d["years"];
    g = d["g"];
    a = d["a"];
    drawFrame(range, g, a, reason, pattern);
    draw_rect_input(range, "lines_"+g, a, reason);
  }
  for (var v in outerbound) {
    getCaption(outerbound[v]);
  }
}

function updateSlider() {
  timeFrames = [];
  // init sequence
  timeFrames.push("init_start");
  for (var y = 0; y < 10; y++) timeFrames.push("init_Y_"+y);
  for (var y = 0; y < 10; y++) timeFrames.push("init_X_"+y);
  for (var y = 0; y < 20; y++) timeFrames.push("init_trend_"+y);

  for (var y = minYear; y <= maxYear; y++) {
    for (var d = 0; d < yearmap[y]["delay"]; d++) {
      if (d == 0) timeFrames.push(y + "");
      else timeFrames.push(y + "_" + d);
    }
  }
  var slider = document.getElementById("mySlider");
  slider.min = 0;
  slider.max = timeFrames.length;
  slider.value = 0;
}

function removeFrame(id) {
  var ids = id.split("_");
  for (var y = ids[0]; y <= ids[1]; y++) {
    var idx = yearmap[y]["group"].indexOf(ids[2]);
    yearmap[y]["group"].splice(idx, 1);
    if (yearmap[y]["group"].length == 0) {
      yearmap[y]["delay"] = 1;
      yearmap[y]["reason"] = [];
    }
  }
  updateSlider();
  timeline.updateXaxis(timeFrames);
  calculateOuterbound();
}

function drawFrame(yrange, group, axes, reason, pattern) {
  // console.log("drawFrame", yrange, group, axes)
  // axis: X, Y, S or (overlay == input from the linecharts)
  r = [yrange[0], yrange[yrange.length-1]];
  for (var i = r[0]; i < r[1]; i++) {
    yearmap[i]["group"].push(+group)
    yearmap[i]["delay"] = slowdown[reason];
    yearmap[i]["reason"].push({
      "yrange": yrange,
      "group": group,
      "axis": axes,
      "reason": reason,
      "pattern": pattern,
    })
    if (!timeslices[i]) {
      timeslices[i] = {};
    }
    timeslices[i] = {"g":[+group], "until":r[1]};
  }
  names = [];
  for (var i in axes) {
    names.push(data_options[axes[i].toLowerCase()]["id"])
  }
  updateSlider();
  timeline.updateXaxis(timeFrames);
  timeline.addFrame(r, +group, names, reason, pattern, yearmap[r[0]]["delay"]);
  calculateOuterbound();
}

initClusterinfo();
generateFrames()

var timeunit = 200;
var playon = document.querySelectorAll("input#switchPlay");
playon[0].addEventListener("change", function(e) {
  // console.log("playon", e.target.checked, curYear);
  if (e.target.checked) {
    document.getElementById("play_icon").className = "fa fa-pause";
  } else {
    document.getElementById("play_icon").className = "fa fa-play";
  }

  if (play_timer == undefined && e.target.checked && curFrame < timeFrames.length) {
    play_timer = setInterval(function() {
      curFrame += 1;
      if (curFrame >= timeFrames.length-1) {
        clearInterval(play_timer);
      }
      // console.log("original", timing, curYear, maxYear);
      traceTimeline();
    }, timeunit);
  } else if (play_timer != undefined) {
    clearInterval(play_timer);
    play_timer = undefined;
  }
});

function calculateOuterbound() {
  outerbound = {};
  timeline.clearOuterBound();
  var head_y = -1, tail_y = -1;
  var groups = [], reasons = {};
  for (var y in yearmap) {
    if (yearmap[y]["group"].length > 0) {
      // console.log("-", y, head_y, tail_y)
      groups = groups.concat(yearmap[y]["group"]);
      for (var r = 0; r < yearmap[y]["reason"].length; r++) {
        var rr = yearmap[y]["reason"][r];
        var id = rr["yrange"][0]+"_"+rr["yrange"][rr["yrange"].length-1]+"_"+rr["group"];
        reasons[id] = rr;
      }
      if (head_y > 0) {
        tail_y = y;
      } else {
        head_y = tail_y = y;
      }
    } else {
      if (head_y > 0) {
        // console.log("add", head_y, tail_y)
        var bound = {
          "head": +head_y,
          "tail": parseInt(tail_y)+1,
          "groups": Array.from(new Set(groups)).sort(),
          "reason": reasons
        }
        outerbound[+head_y] = bound;
        timeline.addOuterBound([head_y, tail_y]);
      }
      head_y = tail_y = -1;
      groups = [];
      reasons = {};
    }
  }
}

function getCaption(bound) {
  $.ajax({
    type: "POST",
    url: "/get_caption/",
    dataType: "json",
    data: bound,
    success: function(res){
      // console.log("getCaption success");
      for (var y = res["head"]; y <= res["tail"]; y++) {
        innergrp[y] = res["innergrp"];
      }
      for (var g in res["caption"]) {
        var id = g.split("_");
        for (var y = id[0]; y <= id[1]; y++) {
          if (caption[y] == undefined) caption[y] = {};
          caption[y][id[2]] = res["caption"][g];
        }
        timeline.addCaption(g, res["caption"][g]);
      }
    }
  });
}

function changeSelectedConts(continents) {
  swtvalues["trace"] = false;
  swtvalues["hull"] = false;
  for (var c = 0; c < legendCount; c++) {
    swtvalues["groups"][c] = false;
  }
  if (continents.indexOf(0) > -1) continents = [0,1,2,3,4];
  for (var c = 0; c < continents.length; c++) {
    swtvalues["groups"][continents[c]] = true;
  }
}

var flag_focus = false;
var focus_index = -1,
    focus_start = focus_until = -1,
    focus_groups = [];
function traceTimeline() {
  var curYear = timeFrames[curFrame];
  var nextYear = timeFrames[curFrame+1];
  var curNames = curYear.split("_");
  console.log("traceTimeline", curFrame, curNames, flag_focus, focus_until);
  // if init sequence
  if (curNames[0] == "init") {
    if (curNames[2] == '0') {
      if (curNames[1] == "Y") chart.highlightYaxis(5*timeunit);
      if (curNames[1] == "X") chart.highlightXaxis(5*timeunit);
      if (curNames[1] == "trend") chart.highlightDirect(5*timeunit);
    }
  } else {
    chart.hideDesc(timeunit);
  }

  // if in focus mode
  if (flag_focus && curFrame == focus_until) {
    if (focus_index >= focus_groups.length-1) {
      console.log("-- finish focusing", focus_index, focus_groups)
      focus_index = -1;
      flag_focus = false;
      // chart.clearFocus();
      changeSelectedConts([0,1,2,3,4]);
      // resetPlaytimer(100); // go to the normal pace
    } else {
      focus_index += 1;
      changeSelectedConts([focus_groups[focus_index]]);
      console.log("-- move to the next group focusing", focus_index, focus_groups)
      curFrame = focus_start;
    }
    chart.clearFocus();
  } else {
    // console.log(curYear, flag_focus);
    changeSlider($("input[type='range']"), curFrame, true, flag_focus);
    // update caption
  }

  // if next year is focus_year
  if (outerbound[nextYear]) {
    flag_focus = true;
    focus_start = timeFrames.indexOf(""+outerbound[nextYear]["head"]);
    focus_until = timeFrames.indexOf(""+outerbound[nextYear]["tail"])+1;
    focus_groups = outerbound[nextYear]["groups"];
    console.log("-- prepare focusing in ", nextYear)
    console.log("==", focus_start, "~", focus_until, focus_groups)
    if (focus_index == -1) {
      focus_index = 0;
      changeSelectedConts([focus_groups[focus_index]]);
      // resetPlaytimer(1000);
    }
  }

  updateCaptionText(curFrame, focus_index, focus_groups);
}


var legendCount = 12;
var swtvalues = {
  "trace": true,
  "hull": false,
  // "groups": {0: true, 1:true, 2:true, 3:true, 4:true},
  "groups": {0: true, 1:true, 2:true, 3:true,
    4:true, 5:true, 6:true, 7:true, 8:true, 9:true,
    10:true, 11:true},
};
// var traceon = document.querySelectorAll("input#switchTrace");
// traceon[0].addEventListener("change", function(e) {
//   console.log("traceon", e.target.checked);
//   swtvalues["trace"] = e.target.checked;
//   chart.updateChart(curFrame, swtvalues);
// });
// var hullon = document.querySelectorAll("input#switchHull");
// hullon[0].addEventListener("change", function(e) {
//   console.log("hullon", e.target.checked);
//   swtvalues["hull"] = e.target.checked;
//   chart.updateChart(curFrame, swtvalues);
// });

var switchLegends = document.querySelectorAll("input.switchLegend");
for (var s = 0; s < legendCount; s++) {
  switchLegends[s].addEventListener("change", function(e) {
    console.log("switchLegends", this.id, e.target.checked);
    swtvalues["groups"][gname.indexOf(this.id)] = e.target.checked;
    chart.updateChart(curFrame, swtvalues);
  });
}


$('input[type=range]').on('input', function () {
  $(this).trigger('change');
});
$("input[type='range']").change(function() {
  el = $(this);
  curFrame = parseInt(el.val());
  changeSlider(el, curFrame, false, false);
})
// Fake a change to position bubble at page load
.trigger('change');

function changeSlider(el, curFrame, play, focus) {
  if (curFrame >= timeFrames.length) return;

  width = el.width()-32;
  newPoint = (curFrame-el.attr("min")) / (el.attr("max")-el.attr("min"));
  // console.log(newPoint, el.val())
  $("#slider-extend")[0].style.left = width * newPoint + 100+13;
  el.next("output")
    .css({
      "marginLeft": width * newPoint + 36,
      "marginTop": -20,
      "font-size": 10,
      "color": "#000"
    })
    .text(timeFrames[curFrame].split("_")[0]);
  if (play) {
    el.val(curFrame);
  }

  if (timeFrames[curFrame].split("_")[0] == "init") {
    preFrame = curFrame;
    updateLineTimebar();
    updateBackgoundYear("");
    chart.clear();
    return;
  }
  console.log("changeSlider", focus, curFrame, timeFrames[preFrame], timeFrames[curFrame]);
  var preYear = parseInt(timeFrames[preFrame]),
      curYear = parseInt(timeFrames[curFrame]);
  if (yearmap[curYear]["delay"] > 1) {
    focus = true;
  } else {
    changeSelectedConts([0,1,2,3,4]);
    focus = false;
  }
  if (focus && (preYear == minYear || preYear != curYear)) {
    var delaytime = yearmap[curYear]["delay"]*timeunit;
    chart.updateFocus(curYear, swtvalues, innergrp, delaytime);
  } else if (preYear == minYear || preYear != curYear) {
    chart.updateChart(curYear, swtvalues);
  }
  highlightCurYear();
  // updateClusterinfo(curYear);
  updateBackgoundYear(curYear);
  preFrame = curFrame;
}

function highlightOff() {
  $("circle.tbubble").attr("r", 1).attr("stroke", "none");
}
function highlightCurYear() {
  var curYear = parseInt(timeFrames[curFrame]);
  updateLineTimebar();
  highlightOff();
  for (var i = 0; i < legendCount; i++) {
    $("circle.tbubble#"+i+"_"+curYear)
      .attr("r", 5)
      .attr("stroke", "black");
  }
}


</script>
</html>
